# SEMANA 6
Alonso Gavino Ponce Susanibar

1. Colecciones de Datos

In [30]:
#1.1 Listas
#Es una colección de elementos que pueden ser ordenados, modificados, etc.
#Se identifica con los corchetes 
#Ejemplo

aula=['Yauricasa','Granados','Alva','Laura']
print(aula)

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [31]:
#Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Yauricasa
Granados

In [32]:
#Puedo asignar un valor a una posicón de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [33]:
#Mostramos como quedó la lista
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura']

In [35]:
#Para agregar un elemento usamos append
aula.append("Huaman")
aula.append("Huancas")
aula.append("Chavez")
aula

['Yauricasa',
 'Chavez',
 'Alva',
 'Laura',
 'Huaman',
 'Huancas',
 'Huaman',
 'Huancas',
 'Chavez']

In [36]:
#Para eliminar un elemento usamos remove[]
aula.remove("Yauricasa")
aula

['Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Huaman', 'Huancas', 'Chavez']

In [37]:
#Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Chavez")

In [38]:
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Huaman', 'Huancas', 'Chavez']

In [39]:
#Para obtener el tamaño utilizamos len()
len(aula)

7

In [40]:
#Eliminar solol a última posición
aula.pop()

'Chavez'

In [41]:
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Huaman', 'Huancas']

In [42]:
aula.remove(aula[3])
aula

['Alva', 'Laura', 'Huaman', 'Huaman', 'Huancas']

In [43]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huaman
Huaman
Huancas

In [44]:
aula.remove(aula[4])
aula

['Alva', 'Laura', 'Huaman', 'Huaman']

In [45]:
aula.append("Vilca")
aula.append("Gavino")

In [46]:
aula

['Alva', 'Laura', 'Huaman', 'Huaman', 'Vilca', 'Gavino']

In [47]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huaman
Huaman
Vilca
Gavino

In [48]:
aula.remove(aula[3])
aula

['Alva', 'Laura', 'Huaman', 'Vilca', 'Gavino']

In [49]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huaman
Vilca
Gavino

In [50]:
#Para invertir la lista reverser()
aula.reverse()
aula

['Gavino', 'Vilca', 'Huaman', 'Laura', 'Alva']

In [51]:
#Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Alva', 'Gavino', 'Huaman', 'Laura', 'Vilca']

In [52]:
#1.2 Tuplas
#Es una coleccion de elementos ordenada(ordenado significa que tiene un indice) que no se puede modificar
#Es INALTERABLE
#NO SE PUEDEN AGREGAR ELEMENTOS NI ELIMINAR
#SE IDENTIFICAN POR PARENTESIS

tupla_aula = ('Granados','Julca','Cusi','Marcos')

In [53]:
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Marcos

In [54]:
tupla_aula[2]

'Cusi'

In [55]:
len(tupla_aula)

4

In [56]:
#1.3 Conjuntos
#Es una colección de elemntos que no está ordenado(no tiene indice)
conjunto_aula ={'Granados','Julca','Cusi','Marcos'}
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos'}

In [57]:
#Se puede recorrer utilizando una estructura repetitiva
#Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Marcos
Cusi
Julca
Granados

In [58]:
#Obersación: No se puede acceder por posición porque no considera indexación
#Ejemplo: 
#conjunto_aula{2} devolverá un mensaje de error

In [59]:
len(conjunto_aula)

4

In [60]:
#Para agregar utilizamos la función add()
conjunto_aula.add("Motta")
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos', 'Motta'}

In [61]:
conjunto_aula.remove("Granados")
conjunto_aula

{'Cusi', 'Julca', 'Marcos', 'Motta'}

In [62]:
#1.4 Diccionarios
#Es una colección de elementos, que están indexados, no están ordenados y se pueden modificar
#Son escritos entre llaves y estan formados por pares de elementos    INDICE:valor

diccionario_aula = {2:'Cusi','1':'Julca','dos':'Marcos','0':'Motta'}
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta'}

In [63]:
diccionario_aula['0']

'Motta'

In [65]:
diccionario_aula[2]

'Cusi'

In [66]:
diccionario_aula["dos"]

'Marcos'

In [67]:
diccionario_aula['20']="Serna"
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [68]:
#Para eliminar usamos pop()
#Eliminar elemento de índice 2
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [69]:
del (diccionario_aula["dos"])
diccionario_aula

{'1': 'Julca', '0': 'Motta', '20': 'Serna'}

In [71]:
#Para recorrer todos los elementos utilizamos for
#Ejemplo: devuelve indice
for indice in diccionario_aula:
    print(indice)

1
0
20

In [72]:
#Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice,valor)

1 Julca
0 Motta
20 Serna

In [96]:
#1.5 Ejercicio 
#Dada una lista de {ALANYA, ...}
#Diseñar un código que muestre si el apellido de un estudiante(ingreso por teclado forma parte de la lista)
#Tiempo 12 minutos

lista = ['ALANYA', 'ALVA', 'AZAÑERO', 'CARRASCO', 'CCACCYA', 'COSME', 'CUSI', 'DIAZ', 'FLORES', 'GOMEZ', 'GOMEZ', 'GRANADOS', 'HUANCAS', 'JULCA', 'LAURA', 'MOTTA', 'PINEDO', 'PONCE', 'QUINTANA','RODRIGUEZ', 'SERNA', 'VILCA', 'YAURICASA']
print("Introduce el APELLIDO:")
apellido = input()
print(apellido in lista)

Introduce el APELLIDO:
ALVA
True